{% extends "forum/base.html" %}
{% block content %}
    <h1>
        <p>
            Mailowa grupa dyskusyjna.<br />
            Emailowy odpowiednik forum.<br />
            Jesli chcesz zobaczyć grupy musisz sie zalogowac.<br />
            Jesli chcesz moc czytac posty i postowac w danej grupie musisz do niej dolaczyc.<br />
            Posty publikujemy wysylajac maila xd<br />
            Adres: forum.django@onet.pl w temacie wpisujemy kod grupy<br />

        </p>

    </h1>
{% endblock content %}

